In [7]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver import Chrome
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

import pandas as pd
import numpy as np

In [8]:
path = 'C:\\Users\\R\\Desktop\\MASAI\\PROJECT\\chromedriver.exe'

In [9]:
browser = webdriver.Chrome(path)

C:\Users\R\AppData\Local\Temp\ipykernel_2288\217355859.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(path)

In [11]:
link = 'https://www.instahyre.com/search-jobs?company_size=0&isLandingPage=true&location=Anywhere+in+India&offset=0&search=true'
browser.get(link)

In [5]:
parent = browser.current_window_handle

In [6]:
Job_list = []

for page in range(50):
    view_button = browser.find_elements(By.ID, "interested-btn")
    for i in view_button:
        i.click()
        time.sleep(3)
        browser.switch_to.window(browser.window_handles[-1])

        try:
            designation = browser.find_element(By.XPATH, ".//h1[@class = 'ng-binding']").text
        except:
            designation = ''
        try:
            company_name = browser.find_element(By.XPATH, "//*[@id='floating-header']/div[1]/h2").text
        except:
            company_name = ''
        try:
            location = browser.find_element(By.XPATH, ".//*[@id='floating-header']/div[1]/div/span[1]").text
        except:
            location = ''
        try:
            estab_year = browser.find_element(By.XPATH, "(//div[@class='ng-binding ng-scope'])[1]").text
        except:
            estab_year = ''
        try:
            employees_count =  browser.find_element(By.XPATH, "(//div[@class='ng-binding ng-scope'])[2]").text
        except:
            employees_count = ''
        try:
            job_description =  browser.find_element(By.XPATH, ".//p[@class='ng-binding']").text
        except:
            job_description = ''
        try:
            skills = browser.find_element(By.XPATH, "//*[@id='job-skills-description']").text
        except:
            skills = ''
        try:
            hr_name = browser.find_element(By.CLASS_NAME, "rec-info").text
        except:
            hr_name = ''
        try:
            experience_req = browser.find_element(By.XPATH, "//*[@id='floating-header']/div[1]/div/span[2]").text
        except:
            experience_req = ''
        try:
            emp_overall_rating = browser.find_element(By.XPATH, '//*[@id="employer-profile"]/div[2]/div/div/div[1]/div[4]/div/div[1]/div[2]/span[2]').text
        except:
            emp_overall_rating = ''
        try:
            emp_wl_bal_rating = browser.find_element(By.XPATH, '//*[@id="employer-profile"]/div[2]/div/div/div[1]/div[4]/div/div[2]/div[2]/span[2]').text
        except:
            emp_wl_bal_rating = ''
        try:
            emp_salary_n_benefits_rating = browser.find_element(By.XPATH, '//*[@id="employer-profile"]/div[2]/div/div/div[1]/div[4]/div/div[3]/div[2]/span[2]').text
        except:
            emp_salary_n_benefits_rating = ''
        try:
            emp_comp_culture_rating = browser.find_element(By.XPATH, '//*[@id="employer-profile"]/div[2]/div/div/div[1]/div[4]/div/div[4]/div[2]/span[2]').text
        except:
            emp_comp_culture_rating = ''
        try:
            emp_career_growth_rating = browser.find_element(By.XPATH, '//*[@id="employer-profile"]/div[2]/div/div/div[1]/div[4]/div/div[5]/div[2]/span[2]').text
        except:
            emp_career_growth_rating = ''
        try:
            emp_diversity_n_inclusion_rating = browser.find_element(By.XPATH, '//*[@id="employer-profile"]/div[2]/div/div/div[1]/div[4]/div/div[6]/div[2]/span[2]').text
        except:
            emp_diversity_n_inclusion_rating = ''
        try:
            emp_likely_to_recomm_rating = browser.find_element(By.XPATH, '//*[@id="employer-profile"]/div[2]/div/div/div[1]/div[4]/div/div[7]/div[2]/span[2]').text
        except:
            emp_likely_to_recomm_rating = ''

        job_details = {'designation':designation, 'company_name':company_name,'location':location, 'estab_year':estab_year,
                       'employees_count':employees_count, 'job_description': job_description, 'skills':skills, 'hr_name':hr_name,
                      'experience_req':experience_req, 'emp_overall_rating':emp_overall_rating,'emp_wl_bal_rating':emp_wl_bal_rating,
                      'emp_salary_n_benefits_rating':emp_salary_n_benefits_rating, 'emp_comp_culture_rating':emp_comp_culture_rating,
                      'emp_career_growth_rating':emp_career_growth_rating,'emp_diversity_n_inclusion_rating':emp_diversity_n_inclusion_rating,
                      'emp_likely_to_recomm_rating':emp_likely_to_recomm_rating}

        Job_list.append(job_details)
        browser.close()
        browser.switch_to.window(parent)
        
    next_botton = browser.find_element(By.XPATH, './/*[@id="job-function-page"]/div[2]/div/div[1]/div[11]/li[12]')
    next_botton.click()
    time.sleep(4)

In [15]:
df1 = pd.DataFrame(Job_list)
df1

,designation,company_name,location,estab_year,employees_count,job_description,skills,hr_name,experience_req,emp_overall_rating,emp_wl_bal_rating,emp_salary_n_benefits_rating,emp_comp_culture_rating,emp_career_growth_rating,emp_diversity_n_inclusion_rating,emp_likely_to_recomm_rating
0,Business Systems Analyst (Drive),Google,Hyderabad,Founded in 1998,More than 1000 employees,Function: Data Science and Analysis → Data Ana...,Finance\nMarketing\nMicrosoft Excel\nProduct M...,Aneesh Vikram\nRecruiting Specialist\nat Google,5-9 Years,4.1,4.3,4.4,4.4,4.3,4.4,4.5
1,Technical Writer (Drive),Hugosave,Hyderabad,Founded in 2019,10 - 50 employees,Function: IT Operations and Support → Technica...,Postman\nSwagger\nTechnical Writing,Neha Khaitan\nTalent Acquisition Specialist\na...,7-10 Years,,,,,,,
2,AEM Developer (Drive),LTIMindtree,"Bangalore, Hyderabad, Mumbai",Founded in 1996,More than 1000 employees,Function: Software Engineering → Other Softwar...,Adobe Experience Manager (AEM),Akshata\nRecruiter\nat LTIMindtree,3-6 Years,4,3.8,3.4,4,3.9,4,4.3
3,Big Data - Java Spark Developer (Drive),LTIMindtree,"Bangalore, Chennai, Mumbai",Founded in 1996,More than 1000 employees,Function: Software Engineering → Big Data / DW...,Amazon Redshift\nBig Data\nData Analysis\nData...,Akshata\nRecruiter\nat LTIMindtree,5-6 Years,4,3.8,3.4,4,3.9,4,4.3
4,Informatica IICS Developer (Drive),LTIMindtree,"Bangalore, Hyderabad, Mumbai",Founded in 1996,More than 1000 employees,Function: Software Engineering → Big Data / DW...,Informatica\nInformatica PowerCenter,Akshata\nRecruiter\nat LTIMindtree,5-6 Years,4,3.8,3.4,4,3.9,4,4.3
5,Oracle - UFT Testing (Drive),LTIMindtree,Mumbai,Founded in 1996,More than 1000 employees,Function: Software Engineering → QA / SDET,Automation Testing\nQTP,Akshata\nRecruiter\nat LTIMindtree,3-5 Years,4,3.8,3.4,4,3.9,4,4.3
6,PL / SQL Developer (Drive),LTIMindtree,"Bangalore, Hyderabad, Mumbai",Founded in 1996,More than 1000 employees,Function: IT Operations and Support → Database...,Oracle RAC\nPL-SQL,Akshata\nRecruiter\nat LTIMindtree,5-6 Years,4,3.8,3.4,4,3.9,4,4.3
7,Snowflake Developer (Drive),LTIMindtree,"Bangalore, Chennai, Mumbai",Founded in 1996,More than 1000 employees,Function: Software Engineering → Big Data / DW...,Data Warehousing\nETL\nSQL\nSnowflake,Akshata\nRecruiter\nat LTIMindtree,5-6 Years,4,3.8,3.4,4,3.9,4,4.3
8,Key Account Manager (Drive),Park+,Gurgaon,Founded in 2019,200 - 500 employees,Function: Sales and Business → Sales / Busines...,Channel Sales\nCorporate Sales\nKey Account Ma...,Hitesh Gupta\nRecruiter\nat Park+,0-1 Years,3.8,3.4,3.6,3.6,3.9,3.7,3.6
9,Sales Executive (Drive),Park+,"Jaipur, Lucknow",Founded in 2019,200 - 500 employees,Function: Sales and Business → Sales / Busines...,Channel Sales\nCorporate Sales\nSales,Hitesh Gupta\nRecruiter\nat Park+,1-3 Years,3.8,3.4,3.6,3.6,3.9,3.7,3.6
10,Sales / Senior Sales Associate (Drive),Ivy Homes,Bangalore,Founded in 2021,0 - 10 employees,Function: Sales and Business → Sales / Busines...,Business Development\nLead Generation\nSales,Pritam Thakur\nCo-Founder\nat Ivy Homes,1-5 Years,,,,,,,
11,.NET Azure Fullstack Developer (Drive),LTIMindtree,Mumbai,Founded in 1996,More than 1000 employees,Function: Software Engineering → Backend Devel...,.NET\nASP.NET\nAngular\nAzure\nBootstrap\nC#\n...,Akshata\nRecruiter\nat LTIMindtree,3-6 Years,4,3.8,3.4,4,3.9,4,4.3
12,Automation Testing (Drive),LTIMindtree,Bangalore,Founded in 1996,More than 1000 employees,Function: Software Engineering → QA / SDET,API Testing\nAppium\nCucumber\nJMeter\nJava\nM...,Akshata\nRecruiter\nat LTIMindtree,5-6 Years,4,3.8,3.4,4,3.9,4,4.3
13,Azure Databricks Developer (Drive),LTIMindtree,"Bangalore, Chennai, Mumbai",Founded in 1996,More than 1000 employees,Function: Software Engineering → Big Data / DW...,Databricks\nHadoop\nSpark\nETL\nPySpark\nSnowf...,Akshata\nRecruiter\nat LTIMindtree,5-6 Years,4,3.8,3.4,4,3.9,4,4.3
14,Azure DevOps (Drive),LTIMindtree,Mumbai,Founded in 1996,More than 1000 employees,Function: IT Operations and Support → DevOps /...,Ansible\nAzure\nAzure DevOps Server\nCI - CD\n...,Akshata\nRecruiter\nat LTIMindtree,4-6 Years,4,3.8,3.4,4,3.9,4,4.3
15,GCP Developer (Drive),LTIMindtree,"Bangalore, Chennai, Mumbai",Founded in 1996,More than 1000 employees,Function: Software Engineering → Big Data / DW...,BigQuery\nGoogle Cloud\nPython\nDataflow,Akshata\nRecruiter\nat LTIMindtree,5-6 Years,4,3.8,3.4,4,3.9,4,4.3
16,React.js Developer (Drive),LTIMindtree,Mumbai,Founded in 1996,More than 1000 employees,Function: Software Engineering → Frontend Deve...,CSS\nHTML\nJavaScript\nReact.js\njQuery,Akshata\nRecruiter\nat LTIMindtree,3-6 Years,4,3.8,3.4,4,3.9,4,4.3
17,Regional Supply Head (Drive),Treebo,"Kolkata, Mumbai",Founded in 2015,200 - 500 employees,Function: Sales and Business → Sales / Busines...,Business Development\nChannel Sales\nProfit an...,Advita Karkera\nTalent Acquisition Executive\n...,5-8 Years,3.4,3.4,3.1,3.6,3.3,4.4,3
18,"Territory Sales Manager (Gujarat, Chandigarh, ...",Treebo,"Chandigarh, Gandhinagar, Indore",Founded in 2015,200 - 500 employees,Function: Sales and Business → Sales / Busines...,Business Development\nChannel Sales\nCorporate...,Advita Karkera\nTalent Acquisition Executive\n...,2-6 Years,3.4,3.4,3.1,3.6,3.3,4.4,3
19,"Territory Sales Manager (Jamshedpur, Kolkata, ...",Treebo,"Jamshedpur, Kolkata, Ranchi",Founded in 2015,200 - 500 employees,Function: Sales and Business → Sales / Busines...,Business Development\nCorporate Sales\nDirect ...,Advita Karkera\nTalent Acquisition Executive\n...,2-6 Years,3.4,3.4,3.1,3.6,3.3,4.4,3

In [24]:
df1.to_csv("Job_details500.csv")